*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-title{
    text-align: center;
    padding-bottom: 10px;
}
.formm{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 20px;
}
.save{
    display: flex;
    flex-direction: column;
}
.save a{
    text-align: center;
}
.form-title h2{
    font-size: 20px;
    line-height: 32px;
    color: #1c1e21;
    font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
    line-height: 38px;
    font-weight: 400;
}

img{
    width: 310px;
}

.save input{ 
    width: 332px;
    height: 50px;
    border-radius: 5px;
    box-shadow: none; 
    appearance: none; 
    border: none;
    border: solid 1px #CCD0D5;
    padding-left: 8px;
}
.save{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 11px;
}
button{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    height: 45px;
    width: 332px;
    cursor: pointer;
}
.save a{
    color: #1877f2;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    margin-top: 10px;
}
.new{
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    color: #fff !important;
    height: 45px;
    width: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.save {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
  }
  
  .save span {
    position: relative; 
    padding: 0 10px;
    color: #96999e;
  }
  
  .save span::before,
  .save span::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 145px; 
    height: 1px;
    background-color: #CCD0D5; 
  }
  
  .save span::before {
    left: -150px; /
  }
  
  .save span::after {
    right: -150px;
  }
  
  